#root{
  background-color: beige;
}

main {
  background-color:darksalmon;
  border-radius: 12px;
}

h1{
  border: solid black 2px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  justify-content: center;
}

main{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-right: 10%;
  margin-left: 10%
}

article{
  border: 2px solid black;
  border-radius: 12px;
  padding: 1vw;
  margin-top: 2vw;
  
}

img{
  width: 15em;
  height: 15em
}

article p{
  max-width: 15em;
}

article h2{
  width: 8em;
}
