#root{
  background-color: beige;
}



article{
  display: inline-flex;
  justify-content: space-around;  
  padding: 2em;
  align-content: center;

}

img{
  height: 20vw;
}

.card-body{
  height: 10em;
}